name: Update version

on:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: write

jobs:
  update:
    name: Check version
    runs-on: ubuntu-22.04
    steps:      
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check version
        id: check
        run: |
          TEMP_DIR=$(mktemp -d)
          cd $TEMP_DIR
          echo "Fetching from CTAN REST API"
          curl -o ctan-response.json https://www.ctan.org/json/2.0/pkg/luciole
          fetched_version=$(jq -r .version.number ctan-response.json)
          echo "Fetched version: v$fetched_version"

          cd $GITHUB_WORKSPACE
          last_known_version=$(git describe --tags --abbrev=0)
          echo "Last known version: $last_known_version"
          latest_version=$(echo "$fetched_version ${last_known_version:1}" | tr " " "\n" | sort -rV | head -n 1)

          if [ $fetched_version != $last_known_version ] && [ $fetched_version == $latest_version ]; then
            echo "Update available: new version v$fetched_version"
            echo "update=true" >> $GITHUB_OUTPUT
            echo "new_version=$fetched_version" >> $GITHUB_OUTPUT
          fi

      - name: Update sources
        if: ${{ steps.check.outputs.update }} == true
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          NEW_VERSION: ${{ steps.check.outputs.new_version }}
        run: |
          cd $GITHUB_WORKSPACE/src
          curl -o Luciole-Bold-Italic.ttf -L    https://mirrors.ctan.org/fonts/luciole/Luciole-Bold-Italic.ttf
          curl -o Luciole-Bold.ttf -L           https://mirrors.ctan.org/fonts/luciole/Luciole-Bold.ttf
          curl -o Luciole-Math-Bold.otf -L      https://mirrors.ctan.org/fonts/luciole/Luciole-Math-Bold.otf
          curl -o Luciole-Math.otf -L           https://mirrors.ctan.org/fonts/luciole/Luciole-Math.otf
          curl -o Luciole-Regular-Italic.ttf -L https://mirrors.ctan.org/fonts/luciole/Luciole-Regular-Italic.ttf
          curl -o Luciole-Regular.ttf -L        https://mirrors.ctan.org/fonts/luciole/Luciole-Regular.ttf

          git config --unset "http.https://github.com/.extraheader"
          git remote set-url origin "https://x-access-token:${ACCESS_TOKEN}@github.com/${GITHUB_REPOSITORY}.git/"

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add Luciole*
          git commit -m "Update to v$NEW_VERSION"

          git tag v$NEW_VERSION
          git push origin main
          git push origin v$NEW_VERSION
